<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="cache-control" content="public">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>CChat</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/plug/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/list.css" />
    <!--[if lt IE 8]><script src="./json3.min.js"></script><![endif]-->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/plug/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.qqFace.js"></script>
</head>

<body>
    <div class="container">
        <div class="row ">
            <div class="chat_header clearfix">
                <span class="chatuser"><span id="showselfname">
                            <%=Users.selfName%>
                    </span> |
                <a href="javascript:;" id="logout">退出</a></span>
                <span class="github"><a href="javascript:;" id="github">GitHub</a></span>
            </div>
            <div id="chat_list" class="col-sm-3">
                <ul class="list list-group">
                    <%for(var i in Users.nameList){
                    if(!Users.nameList[i].name)continue;
                    if(Users.nameList[i].name==Users.selfName)continue;%>
                        <li class="user_id list-group-item">
                            <span class="userlist_name">
                            <%=Users.nameList[i].name%></span><span class="badge">...</span>
                        </li>
                        <%}%>
                </ul>
            </div>
            <div class="chat col-sm-8 col-sm-offset-4">
                <div class="chat_box chat_box_old">
                    <div class="chat_box_header clearfix">
                        <a href="javascript:;" class="back"><span>‹</span>返回</a>
                        <h3 id="touser">快找人聊天吧。。。</h3>
                        <a href="javascript:;" id="biggest" title="最大化"><span></span></a>
                    </div>
                    <div id="content">
                        <div id="showMsg">
                        </div>
                        <div class="text">
                            <textarea id="msg" name="msg"></textarea>
                            <div class="banner">
                                <span class="emotion" id="emotion"></span>
                                <span class="emotion img" id="img"></span>
                                <input type="file" accept="image/*;capture=camera" id="photo">
                                <a href="javascript:;" class="btn btn-primary" id="send">发送</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pop" id="previewBox">
                <img src="" id="preview">
                <a href="javascript:;" class="btn btn-primary" id="sendImg">发送</a>
                <button class="btn btn-primary">全屏</button>
            </div>
            <div class="pop" id="scan">
                <img src="" class="ab-center" id="check">
                <button class="btn btn-primary">全屏</button>
            </div>
        </div>
        </div>
</body>
<script type="text/javascript" src="/javascript/client.js"></script>

</html>
