<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" name="viewport">
    <title>WebSocket聊天室</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="chatbox">
        <div id="chat_list">
            <div class="chatlist_header">
                <!-- <span class="chatname"></span> -->
                <span class="chatuser"><span id="showusername">
                        <%=Users.selfName%>
                </span> |
                <a href="javascript:;" id="logout">退出</a></span>
            </div>
            <ul class="list">
                <%for(var i in Users.nameList){
                    if(!Users.nameList[i].name)continue;
                    if(Users.nameList[i].name==Users.selfName)continue;%>
                    <li class="user">
                        <%=Users.nameList[i].name%>
                    </li>
                    <%}%>
            </ul>
        </div>
        <div id="chat_box" class="hide">
            <div id="doc">
                <div id="chat_box_header"><span class="to_uname">123</span></div>
                <div id="chat">
                    <div id="message" class="message">
                        <!-- <div id="onlinecount">
                        </div> -->
                    </div>
                    <div id="input-box">
                        <div class="input">
                            <input type="text" maxlength="140" placeholder="请输入聊天内容，按enter提交" id="content" name="content">
                        </div>
                        <div class="action">
                            <!-- <input type="color" id="color" /> -->
                            <button type="button" id="mjr_send">提交</button>
                        </div>
                        <div class="time_box">
                            <b>服务器UTC时间：<span id="time"></span></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/plug/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascript/client.js"></script>
</body>

</html>
