@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
img {
  border: 0;
}
ol,
ul,
li {
  list-style: none;
}
ul,
li {
  list-style: none;
}
.clearfix:before,
.container:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* IE 6/7 */
.clearfix {
  zoom: 1;
}
.container {
  height: 100%;
  width: 100%;
}
.container .row {
  height: 100%;
}
.container .chat_header {
  width: 100%;
  height: 50px;
  background-color: #cbdae4;
  border-bottom: 2px solid #808a96;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 30px;
  font: 600 20px/50px '黑体';
  color: #000000;
}
.container .chat_header a#logout {
  color: #888;
}
.container .chat_header a#logout:hover {
  color: #000000;
  text-decoration: none;
}
.container .chat_header span.github {
  float: right;
}
.container .chat_header span.github a {
  color: #333;
}
.container .chat_header span.github a:hover {
  color: #1695ed;
  text-decoration: none;
}
.container #chat_list {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #222;
  overflow: hidden;
}
.container #chat_list ul.list {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 50px;
  left: 0;
  overflow-y: auto;
  z-index: 5;
  font: 600 18px/50px '黑体';
}
.container #chat_list ul.list li.user_id {
  background-color: #cbdae4;
  box-shadow: 0 0 6px #777 inset, 0 0 6px #777;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 0 0 30px;
  border-bottom: 2px solid #808a96;
  position: relative;
  cursor: pointer;
}
.container #chat_list ul.list li.user_id:hover {
  background-color: #739dba;
  color: #fff;
}
.container #chat_list ul.list li.user_id span.userlist_name {
  float: left;
}
.container #chat_list ul.list li.user_id span.more {
  float: right;
}
.container #chat_list ul.list li.user_id::before {
  content: '.';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 10px solid #eee8c1;
}
.container .chat {
  z-index: 1;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  color: #000;
  overflow: hidden;
}
.container .chat .chat_box {
  width: 85%;
  height: 90%;
  position: absolute;
  top: 50px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #cbdae4;
}
.container .chat .chat_box .chat_box_header {
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #cbdae4;
  box-shadow: 0 5px 15px #888;
  text-align: center;
  z-index: 8;
}
.container .chat .chat_box .chat_box_header a.back {
  margin-left: 10px;
  color: #000000;
  font: 700 25px/50px '宋体';
  text-decoration: none;
  float: left;
  display: block;
  height: 50px;
}
.container .chat .chat_box .chat_box_header a.back span {
  font-size: 30px;
}
.container .chat .chat_box .chat_box_header h3#touser {
  color: #216ea3;
}
.container .chat .chat_box #content {
  z-index: 0;
  position: relative;
  top: 50px;
  display: block;
  width: 100%;
  height: 85%;
  left: 0;
}
.container .chat .chat_box #showMsg {
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  width: 100%;
  height: 75%;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.container .chat .chat_box #showMsg section {
  overflow: hidden;
  margin: 10px 5px;
  display: block;
  width: 90%;
  clear: both;
}
.container .chat .chat_box #showMsg section.user {
  float: right;
  text-align: right;
}
.container .chat .chat_box #showMsg section.service {
  float: left;
  text-align: left;
}
.container .chat .chat_box #showMsg section > span {
  max-width: 60px;
  height: 36px;
  font-weight: normal;
  font-size: 14px;
  color: #999;
  overflow: hidden;
  float: left;
}
.container .chat .chat_box #showMsg section > div {
  max-width: 70%;
  display: inline-block;
  position: relative;
  padding: 12px;
  margin: 0 20px 0 10px;
  border-radius: 10px;
  background-color: #356ea4;
  box-shadow: inset 0 0 1px #000;
  vertical-align: top;
  word-break: break-all;
}
.container .chat .chat_box #showMsg section > div img.check {
  width: 100%;
}
.container .chat .chat_box #showMsg section.service > div:before {
  content: "";
  position: absolute;
  left: -5px;
  top: 4px;
  width: 0;
  height: 0;
  border-top: solid transparent;
  border-right: 7px solid #356ea4;
  border-bottom: 4px solid transparent;
}
.container .chat .chat_box #showMsg section.user > span {
  color: #f60;
  float: right;
}
.container .chat .chat_box #showMsg section.user > div {
  text-align: left;
  color: #000000;
  box-shadow: inset 0 0 1px #007aff;
  background-color: #007aff;
}
.container .chat .chat_box #showMsg section.user > div::before {
  content: "";
  position: absolute;
  right: -5px;
  top: 4px;
  width: 0;
  height: 0;
  border-top: solid transparent;
  border-left: 7px solid #007aff;
  border-bottom: 4px solid transparent;
}
.container .chat .chat_box .text {
  position: relative;
  text-align: center;
  width: 100%;
  height: 120px;
  bottom: 0;
  left: 0;
}
.container .chat .chat_box .text #msg {
  width: 95%;
  display: inline;
  height: 80px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc inset;
  outline: none;
  padding: 5px;
  font: 500 16px/22px '宋体';
}
.container .chat .chat_box .text .banner {
  width: 95%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
}
.container .chat .chat_box .text .banner #photo {
  display: none;
}
.container .chat .chat_box .text .banner a.btn {
  float: right;
  margin: 10px;
  font: 700 16px/20px '黑体';
  text-decoration: none;
  border-radius: 5px;
}
.container .chat .chat_box .text .banner a.btn:hover {
  background-color: #204f96;
}
.container .chat .chat_box .text .banner #facebox {
  width: 100%;
  background: #fff;
  overflow: auto;
}
.container .chat .chat_box .text .banner span {
  display: block;
  width: 48px;
  height: 48px;
  float: left;
  margin: 1px;
  cursor: pointer;
}
.container .chat .chat_box .text .banner span.emotion {
  background: url('/images/icon.png');
}
.container .chat .chat_box .text .banner span.img {
  background: url('/images/img.png');
}
.container .pop {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 20;
}
.container .pop img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
.container .pop a {
  position: fixed;
  top: 70px;
  right: 50px;
}
.container .pop .ab-center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.container .pop button.btn {
  position: fixed;
  top: 20px;
  right: 50px;
}
